* {
  margin: 0;
  padding: 0;
}

/*----------------------------------------- Item Collection---------------------------------------------*/
.row.row-cols-1.row-cols-md-3 {
  width: 100%;
  margin: 0;
  padding: 30px 0;
}
/*----------------------------------------- Item Card ---------------------------------------------------*/
.col.mb-4 {
  margin: 0;
  padding: 0 5px;
}
/*-------------------------------------------------- Login Form -----------------------------------------*/
.login-form {
  margin: 0 auto;
  width: 35%
}






@media screen and (max-width: 960px) {

}